body{
    background-color: rgb(0, 132, 255);
    font: normal 15pt Arial;
    color: white;
    text-align: center;
}
header{

}
section{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    color: teal;
    text-align: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
footer{
    font-style: italic;

}